.login-textfield {
  margin: .9em 0 !important;
}
.login-textfield > label,
.login-textfield > div {
  color: #fff;
}

.login-textfield > label.Mui-focused,
.login-textfield > div.Mui-focused {
  color: #fff;
}

.login-textfield > .MuiInput-underline:after,
.login-textfield > .MuiInput-underline:before {
  border-bottom: 2px solid #fff;
}

.login-button {
  color: #fff !important;
  background-color: #227ED2 !important;
}
