$full-size: 100%;

.theme-default {
  width: $full-size;
  height: $full-size;
  display: flex;
  flex-direction: column;
  .body-theme {
    flex-grow: 1;
  }
  .MuiBottomNavigation-root{
    background-color: #2D2D2D;
  }
  .MuiBottomNavigationAction-root{
    color: rgba(255, 255, 255, 0.67);
  }
  .MuiBottomNavigationAction-root.Mui-selected{
    color: #227ED2
  }
}
